@use '../../../public/assets/styles';

.hero {
   @include styles.flex-center;
   justify-content: center;
  background-color: styles.$background;
  padding: 40px 100px 0px 100px;
  justify-content: center;
  width: 100%;
  height: calc(100dvh - #{styles.$header-height});

  &_logo_responsive{
    display: none;
  }
  &_wrapper {
    max-width: 1440px;
    @include styles.flex-center;
    justify-content: space-between;
    width: 100%;

    &_back_image {
      width: stretch;
      height: 900px;
      position: relative;
      background-image: url('/assets/fonts/images/icons/BG shape.svg');
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;

      transition: all 0.5s ease-in-out;

      &_person_img {
        position: absolute;
        z-index: 10;
        width: 600px;
        height: 800px;
        left: 50px;
        bottom: 0px;
        top: 92px;
      }
    }
    &_back_image:hover {
      width: stretch;
      height: 900px;
      background-image: url('/assets/fonts/images/icons/hero_hover_back.svg');
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;
      transition: all 0.5s ease-in-out;
      z-index: 10;
    }
  }

  &_img {
    width: 66px;
    height: 73px;
  }
 
  h1 {
    font-size: clamp(3rem, calc(2.286rem + 3.571vw), 5.5rem);
    font-weight: 400;
    color: styles.$secondary;
  }
  h5 {
    color: styles.$secondary;
    font-weight: 400;
    font-size: 1rem;
    font-family: Anta;
  }
  p {
    color: styles.$secondary;
    font-size: clamp(1.25rem, 2.5vw, 2.5rem);
    font-family: Anta;
  }

  figure {
    @include styles.flex-center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    img {
      transition: transform 0.5s ease-in-out;
    }
    img:hover {
      transition: transform 0.5s ease-in-out;
      transform: scaleX(1.2);
    }
  }
  &_row_align {
    @include styles.flex-center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    .logoTxt {
      font-size: 1rem;
      color: styles.$primary;
    }
    .flex_text_logo {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }
  &_social-icons {
    @include styles.flex-center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: absolute;
    top: 0;
    right: 0;
    .img1:hover {
      //  email
      gap: 16px;
      content: url('/assets/fonts/images/icons/mail blue.svg');
    }
    .img2:hover {
      // git
      gap: 16px;
      content: url('/assets/fonts/images/icons/githover1.svg');
    }
    .img3:hover {
      //  linked
      gap: 16px;
      content: url('/assets/fonts/images/icons/linkedinhoverimg.svg');
    }
    img {
      width: 30px;
      height: 30px;
    }
  }

  &_scroll-down {
    padding: 10px 5px;
    border: 1px solid styles.$primary;
    border-radius: 30px;
  }
  &_scroll-down:hover {
    cursor: pointer;
    padding: 10px 5px;
    border: 1px solid styles.$primary;
    background-color: styles.$button_hover;
    color: styles.$primary;
  }
  &_detail {
    @include styles.flex-center;
    gap: 100px;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding-left: 100px;
    &-text {
      p {
        text-align: center;
      }
    }
  }
}
  @media screen and (min-width: 320px) and (max-width: 480px) {
    .hero{
      padding: 40px 40px;
      figure {
      display: none;
    }
    }
    .hero_logo_responsive{
        @include styles.flex-center;
        justify-content: space-between;
        font-family: Josefin Sans; ;
        position: fixed;
        z-index: 10;
        top: 0;
        background-color: styles.$background;
        width: 100%;
        padding: 10px;
        h5{
          color: styles.$secondary;
        }
        p{
          color: styles.$primary;
        }
      figure {
            display: block;
            text-align: center;
            img{
              width: 52px;
              height: 38px;
            }
          }
    }
    .hero_wrapper {
      flex-direction: column;
    }
    .hero_social-icons {
      display: none;
    }
    .hero_detail {
      padding: 0;
    }
    .hero_wrapper_back_image {
      content: url('/assets/fonts/images/icons/responsive_person_hero.svg');
      height: 370px;
      width: 311px;
      background: unset;
      margin-top: 100px;
    }
  }
  // @media screen and (max-width: 480px) {}
// @media screen and (min-width: 481px) and (max-width: 768px){}
// @media screen and (min-width: 768px) and (max-width: 1024px){}