<div class="contact" id="contact">
    <div class="contact_wrapper">
        <div class="contact_wrapper_flexdiv">
        <!-- this empty h1 is for generating space -->
            <h1></h1>
            <h1>{{'contact.title'|translate}}</h1>
            <a href="#hero" aria-label="Scroll down">
                <img class="contact_scroll-down" src="assets/fonts/images/icons/contact up arrow.svg"
                    alt="up_arrow_image">
            </a>
        </div>

        <div class="contact_align_info">
            <section class="contact_para">
                <p>{{'contact.contact_para'|translate}}</p>
            </section>
            <section class="contact_para1">
                <div class="contact_para1_email">
                    <img src="assets/fonts/images/icons/🦆 icon _email_.svg" alt="mail_icon">
                    <p>E-main: deore.bhagyashri28@web.de</p>
                </div>
                <div class="contact_para1_tel">
                    <img src="assets/fonts/images/icons/🦆 icon _phone_.svg" alt="phone_icon">
                    <p>Tel: 0176 681 478 51</p>
                </div>
            </section>

        </div>
        <form [formGroup]="userForm" (ngSubmit)="formSubmit()" class="contact_form">
            <div class="contact_form_align_part1">
                <div>
                    @if (userForm.controls['name'].touched || userForm.controls['name'].dirty) {
                    @if(userForm.controls['name'].errors?.['required']){
                    <span class="error">{{'contact.your_name_required'|translate}}</span><br>
                    }@else {
                    <label for="name">{{'contact.your_name'|translate}}</label><br>
                    }

                    }@else {
                    <label for="name">{{'contact.your_name'|translate}}</label><br>
                    }
                    <input id="name" type="text" formControlName="name"/><br>
                </div>
                <div>
                    {{userForm.valid}}
                    @if (userForm.controls['email'].touched || userForm.controls['email'].dirty) {
                    @if (userForm.controls['email'].errors?.['required']) {
                    <span class="error">{{'contact.your_email_required'|translate}}</span><br>
                    } @else if (userForm.controls['email'].errors?.['pattern'] ||
                    userForm.controls['email'].errors?.['email']) {
                    <span class="error">{{'contact.your_email_pattern'|translate}}</span><br>
                    } @else {
                    <label for="email">{{'contact.your_email'|translate}}</label><br>
                    }
                    } @else {
                    <label for="email">{{'contact.your_email'|translate}}</label><br>
                    }
                    <input id="email" type="email" formControlName="email" /><br>
                </div>
            </div>

            <div class="contact_form_padding">
                @if(userForm.controls['message'].errors?.['required'] && (userForm.controls['message'].touched ||
                userForm.controls['message'].dirty)){
                <span class="error">{{'contact.Your_Message_required'|translate}}</span><br>
                }@else {
                <label class="contact_form_message_label" for="message">{{'contact.Your_message'|translate}}</label><br>
                }
              
                <textarea class="contact_form_message_textarea" id="description" formControlName="message"
                    rows="5"></textarea>
            </div>
            <div class="contact_form_flexCheckdbox">
                <input class="contact_form_checkbox" type="checkbox" name="policycheck" formControlName="policycheck"
                    id="policycheck">
                <label for="policycheck">{{'contact.privacy1'|translate}}<a href="">{{'contact.privacy2'|translate}}</a>{{'contact.privacy3'|translate}}</label>
            </div>
            <div class="contact_form_button">
                <button class="contact_form_sent_Btn" type="submit">{{'contact.send'|translate}}</button>
            </div>


        </form>

    </div>
</div>