@use '../../../public/assets/styles';


.contact {
  @include styles.flex-center;
  justify-content: center;
  background-color: styles.$background;
  flex-direction: column;
  width: 100%;
  color: styles.$secondary;
  padding: 100px;
  font-family: Josefin Sans;
   &_scroll-down {
    padding: 10px 5px;
    border: 1px solid styles.$primary;
    border-radius: 30px;
  }
  &_scroll-down:hover {
    cursor: pointer;
    padding: 10px 5px;
    border: 1px solid styles.$primary;
    background-color: styles.$button_hover;
    color: styles.$primary;
  }
  &_scroll-down2{
    display: none;
  }
  input {
    width: 440px;
    height: 60px;
    border-radius: 30px;
    color: styles.$secondary;
    border: 1px solid styles.$button_border;
    background-color: styles.$background;
    text-indent: 25px; //it decides from which point cursor start writing
  }

  input:hover {
    background-color: styles.$button_hover;
  }

  &_wrapper {
    max-width: 1440px;
    width: 100%;
    &_flexdiv {
      @include styles.flex-center;
      justify-content: space-between;
    }
  }
  &_align_info {
    @include styles.flex-center;
    justify-content: center;
    gap: 30px;
    padding-top: 80px;
  }
  &_para {
    max-width: 550px;
  }
  &_para1 {
    max-width: 550px;
    &_email,
    &_tel {
      @include styles.flex-center;
      justify-content: flex-start;
      gap: 20px;
    }
    &_email:hover,
    &_tel:hover {
      color: styles.$primary;
      cursor: pointer;
    }
  }
  &_form {
    @include styles.flex-center;
    flex-direction: column;
    padding-top: 50px;

    p{
      display: none;
    }

    &_align_part1 {
      @include styles.flex-center;
      justify-content: center;
      gap: 20px;
      label {
        color: styles.$primary;
      }
    }
    &_padding {
      padding-top: 20px;
    }
    &_message_input {
      width: 100%;
      color: styles.$primary;
    }
    &_message_label {
      color: styles.$primary;
    }
    &_message_textarea {
      scrollbar-width: none;
      width: 900px;
      max-width: 900px;
      min-width: 900px;
      color: styles.$secondary;
      border: 1px solid styles.$button_border;
      background-color: styles.$background;
      border-radius: 30px;
      height: 164px;
      text-indent: 25px;
      padding-top: 20px;
    }
    &_message_textarea:hover {
      background-color: styles.$button_hover;
    }
    &_sent_Btn:disabled {
      border: 1px solid styles.$button_disabled;
      background-color: styles.$background;
      color: styles.$button_disabled;
      float: right;
    }
    &_sent_Btn {
      padding: 13px 30px;
      border-radius: 30px;
      border: 1px solid styles.$primary;
      background-color: styles.$background;
      color: styles.$primary;
      float: right;
    }
    &_flexCheckdbox {
      @include styles.flex-center;
      gap: 10px;
      justify-content: flex-start;
      width: 900px;
      p {
        width: 850px;
      }
      a {
        color: styles.$primary;
        text-decoration: none;
      }
    }
    &_checkbox {
      width: 20px !important;
      border-radius: 100% !important;
    }
    &_button {
      @include styles.flex-center;
      width: 900px;
      justify-content: flex-end;
    }
  }
}
@media screen and (max-width: 480px) {
  .contact{
    padding: 25px;
    
  }
  .contact_wrapper{
    a{
      display: none;
    }
  }
  .contact input{
    width: 300px;
  }
    .contact textarea{
    width: 300px;
    min-width: 300px;
    max-width: 300px;
  }
   .contact_form_align_part1{
    flex-direction: column;
    
  }
   .contact_wrapper_flexdiv{
    flex-direction: column;
    justify-content: center;
  }
  .contact_align_info{
      flex-direction: column;
      justify-content: flex-start;
  }
   .contact_form_button{
    width: 300px;
  }
  .contact_form_flexCheckdbox{
    justify-content: center;
    width: 100%;
  }
  .contact form p{
    display: block;
    color: styles.$primary;
    padding-bottom: 30px;
  }
  .contact_scroll-down2{
    display: block;
    padding: 10px 5px;
    border: 1px solid styles.$primary;
    border-radius: 30px;
    margin: 40px 0px;
  
  }
}
@media screen and (min-width: 481px) and (max-width: 768px){
  .contact{
    padding: 20px;
    
  }
  .contact_scroll-down2{
    display: block;
    padding: 10px 5px;
    border: 1px solid styles.$primary;
    border-radius: 30px;
    margin: 40px 0px;
  
  }
  .contact_wrapper{
    a{
      display: none;
    }
  }
  .contact_wrapper_flexdiv{
    flex-direction: column;
    justify-content: center;
  }
  .contact_align_info{
      flex-direction: column;
      justify-content: flex-start;
  }
  .contact input{
    width: 460px;
  }
    .contact textarea{
      width: 460px;
      max-width: 460px;
      min-width: 460px;
    }
  .contact_para1{
    width: 100%;
  }
  .contact_form_align_part1{
    flex-direction: column;
  }
  .contact_form_button{
    width: 460px;
  }
  .contact_form_flexCheckdbox{
    justify-content: center;
  }
  .contact form p{
    display: block;
    color: styles.$primary;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
  .contact{
    padding: 30px;
  }
  .contact_wrapper{
    width: 700px;
    max-width: 100%;
  }
  .contact input{
    width: 300px;
  }
  .contact_form_button{
    width: 600px;
  }
  .contact textarea{
    width: 620px;
    max-width: 620px;
    min-width: 620px;
  }
  .contact_form_flexCheckdbox{
    width: unset;
  }
}

// @media screen and (max-width: 480px) {}
// @media screen and (min-width: 481px) and (max-width: 768px){}
// @media screen and (min-width: 768px) and (max-width: 1024px){}