<div class="contact" id="contact">
    <div class="contact_wrapper">
        <div class="contact_wrapper_flexdiv">
        <!-- this empty h1 is for generating space -->
            <h1></h1>
            <h1>Contact me</h1>
            <a href="#hero" aria-label="Scroll down">
                <img class="hero_scroll-down" src="assets/fonts/images/icons/contact up arrow.svg"
                    alt="up_arrow_image">
            </a>
        </div>

        <div class="contact_align_info">
            <section class="contact_para">
                <p>Encourage people to contact you and describe what role you are interested in. Show that you will add
                    value to
                    their projects through your work.
                    Example: Feel free to get in touch with job offers or opportunities such as: ...
                </p>
            </section>
            <section class="contact_para1">
                <div class="contact_para1_email">
                    <img src="assets/fonts/images/icons/🦆 icon _email_.svg" alt="mail_icon">
                    <p>E-main: deore.bhagyashri28@web.de</p>
                </div>
                <div class="contact_para1_tel">
                    <img src="assets/fonts/images/icons/🦆 icon _phone_.svg" alt="phone_icon">
                    <p>Tel: 0176 681 478 51</p>
                </div>
            </section>

        </div>
        <form [formGroup]="userForm" (ngSubmit)="formSubmit()" class="contact_form">
            <div class="contact_form_align_part1">
                <div>
                    @if (userForm.controls['name'].touched || userForm.controls['name'].dirty) {
                    @if(userForm.controls['name'].errors?.['required']){
                    <span class="error">Your name is required</span><br>
                    }@else {
                    <label for="name">Your name </label><br>
                    }

                    }@else {
                    <label for="name">Your name </label><br>
                    }
                    <input id="name" type="text" formControlName="name" /><br>
                </div>
                <div>
                    @if (userForm.controls['email'].touched || userForm.controls['email'].dirty) {
                    @if (userForm.controls['email'].errors?.['required']) {
                    <span class="error">Your Email is required</span><br>
                    } @else if (userForm.controls['email'].errors?.['pattern'] ||
                    userForm.controls['email'].errors?.['email']) {
                    <span class="error">Your email is not valid</span><br>
                    } @else {
                    <label for="email">Your Email</label><br>
                    }
                    } @else {
                    <label for="email">Your Email</label><br>
                    }

                    <input id="email" type="email" formControlName="email" /><br>
                </div>
            </div>

            <div class="contact_form_padding">
                @if(userForm.controls['message'].errors?.['required'] && (userForm.controls['message'].touched ||
                userForm.controls['message'].dirty)){
                <span class="error">Your Message is required</span><br>
                }@else {
                <label class="contact_form_message_label" for="message">Your Message </label><br>
                }
                <textarea class="contact_form_message_textarea" id="description" formControlName="message"
                    rows="5"></textarea>
            </div>
            <div class="contact_form_flexCheckdbox">
                <input class="contact_form_checkbox" type="checkbox" name="policycheck" formControlName="policycheck"
                    id="policycheck">
                <label for="policycheck">I've read the <a href="">privacy policy</a> and agree to the processing of my
                    data as outlined.</label>
            </div>
            <div class="contact_form_button">
                {{userForm.valid}}
                <button class="contact_form_sent_Btn" type="submit">Send</button>
            </div>


        </form>

    </div>
</div>