<!-- <section class="mySkills" id="skills">

    <div class="mySkills_wrapper">
        <h1>{{'My_Skills.title'|translate}}</h1>

        <div class="mySkills_layout">
            <div class="mySkills_gridWrapper">

                @for (skill of skills; track skill.name) {
                <div class="mySkills_item">
                    <img [src]="skill.icon" [alt]="skill.name">
                    <p>{{ skill.name }}</p>
                </div>
                }

            </div>
            <div class="mySkills_circle">
                <div class="mySkills_circle_text">
                    <p>{{'My_Skills.lerning'|translate}}</p>

                    <div class="mySkills_LIcons">
                        @for (item of learning; track item.name) {
                        <div class="mySkills_Litem">
                            <img [src]="item.icon" [alt]="item.name">
                            <p>{{item.name}}</p>
                        </div>
                        }
                    </div>

                    <p class="mySkills_Ltext">
                        {{'My_Skills.lerning_text'|translate}}
                    </p>
                </div>

            </div>
        </div>
        <a class="mySkills_talkBtn" href="#contact">{{'why_me.button'|translate}}</a>
    </div>
</section> -->


<section class="mySkills" id="skills">
    <div class="mySkills_wrapper">
        <h1>{{'My_Skills.title'|translate}}</h1>

        <div class="mySkills_layout">
            <div class="mySkills_gridWrapper">
                @for (skill of skills; track skill.name) {
                <div class="mySkills_item">
                    <img [src]="skill.icon" [alt]="skill.name">
                    <p class="mySkills_item_name">{{ skill.name }}</p>
                </div>
                }
            </div>

            <div class="mySkills_circle">
                <div class="mySkills_circle_text">
                    <p class="mySkills_LHeading">{{'My_Skills.lerning'|translate}}</p>

                    <p class="mySkills_Ltext">
                        {{'My_Skills.lerning_text'|translate}}
                    </p>

                    <div class="mySkills_LIcons">
                        @for (item of learning; track item.name) {
                        <div class="mySkills_Litem">
                            <img [src]="item.icon" [alt]="item.name">
                            <p>{{item.name}}</p>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <a href="#contact" class="mySkills_talkBtn">{{'why_me.button'|translate}}</a>
    </div>
</section>