@use '../../../../public/assets/styles';

.burger_overlay {
  font-family: Josefin Sans;
  @include styles.flex-center;
  flex-direction: column;
  justify-content: center;
  width: clamp(18.125rem, calc(15.268rem + 14.286vw), 28.125rem);
  height: 370px;
  background-image: url('/assets/fonts/images/icons/burgermenu.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  padding-top: 60px;
  gap: 30px;
  font-weight: 400;
}
.burger_overlay_lang {
  @include styles.flex-center;
  justify-content: center;
  gap: 15px;
}
nav {
  @include styles.flex-center;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  text-align: center;
  color: styles.$primary;
  a {
    text-decoration: none;
    color: styles.$background;
  }
  gap: 30px;
}
